[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/shiyanlou/Desktop/xfce4-terminal.desktop]
row=2
col=0

[/home/shiyanlou/Desktop/firefox.desktop]
row=4
col=0

[/home/shiyanlou/Desktop/gvim.desktop]
row=5
col=0

[/home/shiyanlou/Desktop/fcitx.desktop]
row=1
col=0

[/home/shiyanlou/Desktop/sublime_text.desktop]
row=3
col=0

[/home/shiyanlou/Desktop/gedit.desktop]
row=6
col=0

[/home/shiyanlou]
row=0
col=0

